.header-title {
  border: 1px solid #ccc;
  text-align: center;
  height: 30px;
  background-color: #abcc89;
}
.title {
  font-size: 12px;
  color: white;
  margin-top: 8px;
}

.logo-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 15px 85px;
}
.header {
  flex: 1;
}
.header-menu {
  flex: 1;
}
.icon-menu {
  display: none;
}
.input-search {
  display: none;
}
.logo-center {
  text-align: center;
}
.logo {
  width: 70px;
  height: 70px;
}
.icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.icon-h {
  width: 25px;
  height: 25px;
}
.menu-header {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu-item {
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0 15px;
  margin: 0 12px;
  border-bottom: #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-item:hover {
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
  color: #abcc89;
}
.menu_item_active {
  border-bottom: 1px solid #000;
  color: #abcc89;
  padding: 10px 0 15px;
}

@media (max-width: 768px) {
  .menu-header {
    display: none; /* Ẩn mặc định trên mobile */
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    z-index: 999;
  }

  .menu-header.open {
    display: flex;
  }

  .menu-list {
    flex-direction: column;
    gap: 10px;
  }
  .title {
    font-size: 11px;
  }

  .logo-header {
    padding: 10px 15px 10px 15px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .icon-menu {
    display: block;
    height: 30px;
    width: 30px;
  }
  .search {
    display: none;
  }
  .input-search {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .input-search input {
    border: none;
    outline: none;
    width: 100%;
    padding: 7px 40px 7px 10px;
    background: #eeeeee;
    border-radius: 4px;
  }
  .icon-search {
    position: absolute;
    right: 20px;
    color: #666;
    font-size: 18px;
    pointer-events: none; /* để click không bị dính icon */
  }
}
