.header-title {
  border: 1px solid #ccc;
  text-align: center;
  height: 30px;
  background-color: #abcc89;
}
.title {
  font-size: 12px;
  color: white;
  margin-top: 8px;
}

.logo-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 15px 85px 15px 85px;
}
.header {
  flex: 1;
}
.logo-center {
  text-align: center;
}
.logo {
  width: 70px;
  height: 70px;
}
.icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.icon-h {
  width: 25px;
  height: 25px;
}
.menu-header {
}
.menu-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.menu-item {
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0 15px;
  margin: 0 12px;
  border-bottom: #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-item:hover {
  border-bottom: 1px solid #000;
  transition: all 0.2s ease-in-out;
  color: #abcc89;
}
